/*********************************
 1 固定ページ
*********************************/
.page-content {
  margin-top: -0.5%;
}

/* PC用 */
@media screen and (min-width: 768px) {
  /*********************************
  1.1 メインビジュアル
  *********************************/
  .page-front-title {
    color: #0F1419;
    text-shadow: 2px 1px #ffffff;
    font-family: "Noto Sans JP";
    font-size: 3.5vw;
    letter-spacing: 1vw;
    position: absolute;
    top: 40%;
    left: 22%;
    transform: translateX(-50%);
  }

  .page-back-title {
    color: #B5B5B5;
    font-family: "Noto Sans JP";
    font-size:3.5vw;
    letter-spacing: 0.5vw;
    position: absolute;
    top: 51%;
    left: 22%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  /*********************************
  2 お問合わせ
  *********************************/
  .form {
    width: 100%;
    background-color: #ffffff; 
  }

  .form-title {
    background-color:#38A1DB;
    text-align: center;
    padding: 2%;
  }

  .form-title-sp {
    display: none;
  }

  .form-title-first {
    display: inline-block;
    font-size: 2vw;
    letter-spacing: 0.2vw;
    font-weight: bold;
    color:#ffffff;
    border-bottom: 1.5px solid #ffffff;
    margin-bottom: 1%;
  }

  .form-title-text {
    color:#ffffff;
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
    line-height: 2vw;
  }

  .form-container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }

  .label {
    display: block;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 1%;
    font-family: "Noto Sans JP";
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
    background-color: #ffffff;
    color: #0F1419;
    white-space: nowrap;
  }

  .label span {
    color: red;
    padding-left: 1%;
  }

  .wpcf7-text {
    width: 95%;
    background-color: #F8F8F8;
    border: none;
    font-family: "Noto Sans JP";
    font-size: 2vw;
    letter-spacing: 0.2vw;
    color: #0F1419;
    padding: 2% 4%;
  }

  .wpcf7-text:focus-visible {
    outline: none;
  }

  textarea {
    width: 100%;
    border: none;
    font-family: "Noto Sans JP";
    font-size: 2vw;
    letter-spacing: 0.2vw;
    line-height: 2.5vw;
    color: #0F1419;
    background-color: #F8F8F8;
    padding: 2% 4%;
  }

  textarea:focus-visible {
    outline: none;
  }

  .form-btn input {
    display: block;
    border: none;
    font-family: "Noto Sans JP";
    font-size: 2.3vw;
    font-weight: bold;
    color: #0F1419;
    background-color:#f1db1d;
    text-decoration: underline;
    padding: 1.5% 3%;
    margin: 5% auto;
    box-shadow: 2px 2px #6A6A6A;
  }

  .wpcf7-submit:hover {
    transform: translate(2px, 2px);
    box-shadow: none;
  }

  .recaptcha {
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
    color: #0F1419;
    margin-top: 4%;
  }

  .recaptcha a {
    color: #0F1419;
  }

  .recaptcha a:hover,
  .recaptcha a:visited,
  .recaptcha a:active,
  .recaptcha a:link {
    color: #0F1419;
  }

  .grecaptcha-badge { 
    visibility: hidden;
  }

  /*********************************
  3 会社情報
  *********************************/
  .company-section {
    color: #38A1DB;
    font-family: "Noto Sans JP";
    font-size: 2vw;
    letter-spacing: 0.2vw;
    font-weight: bold;
    text-shadow: 1px 1px #0f3255;
    padding-bottom: 3%;
    white-space: nowrap;
  }

  .office-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .office-group {
    width: 25%;
    background-color: #ffffff;
    padding: 3%;
  }

  .office-title {
    font-family: "Noto Sans JP";
    font-size: 2vw;
    letter-spacing: 0.2vw;
    font-weight: bold;
    padding-bottom: 1%;
  }

  .office-text {
    font-family: "Noto Sans JP";
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
    line-height: 2vw;
    padding-left: 10%;
  }

  .company-table{
    width: 100%;
    margin-bottom: 3%;
  }

  .company-table tr {
    display: flex;
    margin-bottom: 2%;
    width: 100%;
  }

  .table-left {
    display:block;
    width:20%;
    font-family: "Noto Sans JP";
    font-size: 1.8vw;
    letter-spacing: 0.2vw;
    color: #0F1419;
    border-bottom: 1.5px solid #0F1419;
  }

  .table-right {
    display:block;
    width:80%;
    font-family: "Noto Sans JP";
    font-size: 1.8vw;
    letter-spacing: 0.2vw;
    padding-left: 2%;
    color: #0F1419;
    border-bottom: 1px solid #0F1419;
  }

  /*********************************
  4 お知らせ一覧
  *********************************/
  #news-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5%;
  }

  .info-a,
  .ple-a,
  .event-a {
    display: inline-block;
    font-family: "Noto Sans JP";
    font-weight: bold;
    font-size: 2vw;
    letter-spacing: 0.2vw;
    color: #0F1419;
    text-decoration: none;
  }

  .info-a:hover,
  .event-a:hover,
  .ple-a:hover {
    border-bottom: 1px solid #0F1419;
    color: #0F1419;
  }


  .info-a:visited,
  .info-a:active,
  .info-a:link,
  .event-a:visited,
  .event-a:active,
  .event-a:link,
  .ple-a:visited,
  .ple-a:active,
  .ple-a:link {
    color: #0F1419;
  }

  .active {
    border-bottom: 2px solid #38A1DB;
  }

  .news-one {
    width: 90%;
    background-color: #ffffff;
    padding: 2%;
    margin: 0 auto 5% auto;
  }

  .news-one a {
    width: 100%;
    text-decoration: none;
    color: #0F1419;
    display: flex;
    align-items: flex-end;
  }

  .news-one a:hover,
  .news-one a:visited,
  .news-one a:active,
  .news-one a:link {
    color: #0F1419;
  }

  .news-one-title {
    width: 70%;
    font-family: "Noto Sans JP";
    font-size: 1.8vw;
    letter-spacing: 0.2vw;
    font-weight: bold;
    color: #0F1419;
  }

  .news-one-date {
    width: 30%;
    display: inline-block;
    font-family: "Noto Sans JP";
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
    color: #0F1419;
    text-align: right;
  }

  .news-event {
    display: none;
  }
  .news-press-release {
    display: none;
  }

  /*********************************
  5 プライバシーポリシー
  *********************************/
  #privacy {
    width: 90%;
    color: #0F1419;
    margin: 0 auto;
  }

  #privacy h1 {
    font-size: 2.3vw;
    letter-spacing: 0.2vw;
    font-weight: bold;
    margin: 5% 0;
  }

  #privacy h2 {
    font-size: 2vw;
    letter-spacing: 0.2vw;
    font-weight: bold;
    border-bottom: 2px solid #38A1DB;
    margin: 3% 0;
  }

  #privacy p {
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
    line-height: 2vw;
  }

  #privacy div {
    width: 95%;
    margin: 0 0 0 auto;
  }
  #privacy li {
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
  }

  .end {
    text-align: right;
    margin-bottom: 5%;
  }
}

/* スマホ用 */
@media screen and (max-width: 767px) {
  /*********************************
  1.1 メインビジュアル
  *********************************/
  .page-front-title {
    color: #0F1419;
    text-shadow: 1px 1px #ffffff;
    font-family: "Noto Sans JP";
    font-size: 6vw;
    letter-spacing: 1vw;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translateX(-50%);
  }

  .page-back-title {
    color: #B5B5B5;
    font-family: "Noto Sans JP";
    font-size:6vw;
    letter-spacing: 0.5vw;
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  /*********************************
  2 お問合わせ
  *********************************/
  .form {
    width: 100%;
    background-color: #ffffff; 
  }

  .form-title {
    display: none;
  }

  .form-title-sp {
    background-color:#38A1DB;
    text-align: center;
    padding: 2%;
  }

  .form-title-first {
    display: inline-block;
    font-size: 4.5vw;
    letter-spacing: 0.4vw;
    font-weight: bold;
    color:#ffffff;
    border-bottom: 1.5px solid #ffffff;
    padding: 5% 5% 2% 5%;
    margin-bottom: 3%;
  }

  .form-title-text {
    color:#ffffff;
    font-size: 3.5vw;
    letter-spacing: 0.3vw;
    line-height: 4vw;
    padding-bottom: 5%;
  }

  .form-container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }

  .label {
    display: block;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 1%;
    font-family: "Noto Sans JP";
    font-size: 3vw;
    letter-spacing: 0.3vw;
    background-color: #ffffff;
    color: #0F1419;
    white-space: nowrap;
  }

  .label span {
    color: red;
    padding-left: 1%;
  }

  .wpcf7-text {
    width: 95%;
    background-color: #F8F8F8;
    border: none;
    font-family: "Noto Sans JP";
    font-size: 4vw;
    letter-spacing: 0.4vw;
    color: #0F1419;
    padding: 3% 5%;
  }

  .wpcf7-text:focus-visible {
    outline: none;
  }

  .wpcf7-text::placeholder {
    font-size: 3.5vw;
    letter-spacing: 0.3vw;
    color:#6A6A6A;
  }

  textarea {
    width: 95%;
    border: none;
    font-family: "Noto Sans JP";
    font-size: 4vw;
    letter-spacing: 0.4vw;
    line-height: 4.5vw;
    color: #0F1419;
    background-color: #F8F8F8;
    padding: 3% 5%;
  }

  textarea:focus-visible {
    outline: none;
  }

  .textarea::placeholder {
    font-size: 3.5vw;
    letter-spacing: 0.3vw;
    line-height: 4vw;
    color:#6A6A6A;
  }

  .form-btn input {
    display: block;
    border: none;
    font-family: "Noto Sans JP";
    font-size: 4vw;
    letter-spacing: 0.4vw;
    font-weight: bold;
    color: #0F1419;
    background-color:#f1db1d;
    text-decoration: underline;
    padding: 3% 5%;
    margin: 10% auto 0 auto;
    box-shadow: 2px 2px #6A6A6A;
  }

  .wpcf7-submit:hover {
    transform: translate(2px, 2px);
    box-shadow: none;
  }

  .recaptcha {
    font-size: 2.5vw;
    letter-spacing: 0.2vw;
    line-height: 3vw;
    color: #0F1419;
    margin-top: 4%;
  }

  .recaptcha a {
    color: #0F1419;
  }

  .recaptcha a:hover,
  .recaptcha a:visited,
  .recaptcha a:active,
  .recaptcha a:link {
    color: #0F1419;
  }

  .grecaptcha-badge { 
    visibility: hidden;
  }

  /*********************************
  3 会社情報
  *********************************/
  .company-section {
    color: #38A1DB;
    font-family: "Noto Sans JP";
    font-size: 5vw;
    letter-spacing: 0.5vw;
    font-weight: bold;
    text-shadow: 1px 1px #0f3255;
    margin: 5% 0;
    text-align: center;
  }

  .office-content {
    width: 100%;
    justify-content: space-between;
  }

  .office-group {
    background-color: #ffffff;
    padding: 4% 5%;
    margin: 8% 0;
  }

  .office-title {
    font-family: "Noto Sans JP";
    font-size: 4.2vw;
    letter-spacing: 0.4vw;
    font-weight: bold;
    padding-bottom: 1%;
  }

  .office-text {
    font-family: "Noto Sans JP";
    font-size: 3.8vw;
    letter-spacing: 0.4vw;
    padding-left: 6%;
  }

  .company-table{
    width: 100%;
    margin-bottom: 8%;
  }

  .company-table tr {
    display: flex;
    margin-bottom: 2%;
    width: 100%;
  }

  .table-left {
    display:block;
    width:30%;
    font-family: "Noto Sans JP";
    font-size: 3.8vw;
    letter-spacing: 0.3vw;
    color: #0F1419;
    border-bottom: 1.5px solid #0F1419;
  }

  .table-right {
    display:block;
    width:70%;
    font-family: "Noto Sans JP";
    font-size: 3.8vw;
    letter-spacing: 0.3vw;
    padding-left: 2%;
    color: #0F1419;
    border-bottom: 1px solid #0F1419;
  }

  /*********************************
  4 お知らせ一覧
  *********************************/
  #news-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5%;
  }

  .info-a,
  .ple-a,
  .event-a {
    display: inline-block;
    font-family: "Noto Sans JP";
    font-weight: bold;
    font-size: 4.5vw;
    letter-spacing: 0.4vw;
    color: #0F1419;
    text-decoration: none;
  }

  .info-a:hover,
  .event-a:hover,
  .ple-a:hover {
    border-bottom: 2px solid #38A1DB;
    color: #0F1419;
  }


  .info-a:visited,
  .info-a:active,
  .info-a:link,
  .event-a:visited,
  .event-a:active,
  .event-a:link,
  .ple-a:visited,
  .ple-a:active,
  .ple-a:link {
    color: #0F1419;
  }

  .active {
    border-bottom: 2px solid #38A1DB;
  }

  .news-one {
    width: 90%;
    background-color: #ffffff;
    padding: 2%;
    margin: 0 auto 5% auto;
  }

  .news-one a {
    width: 100%;
    text-decoration: none;
    color: #0F1419;
    display: flex;
    align-items: flex-end;
  }

  .news-one a:hover,
  .news-one a:visited,
  .news-one a:active,
  .news-one a:link {
    color: #0F1419;
  }

  .news-one-title {
    width: 70%;
    font-family: "Noto Sans JP";
    font-size: 4vw;
    letter-spacing: 0.4vw;
    font-weight: bold;
    color: #0F1419;
  }

  .news-one-date {
    width: 30%;
    display: inline-block;
    font-family: "Noto Sans JP";
    font-size: 2.8vw;
    letter-spacing: 0.3vw;
    color: #0F1419;
    text-align: right;
  }

  .news-event {
    display: none;
  }
  .news-press-release {
    display: none;
  }

  /*********************************
  5 プライバシーポリシー
  *********************************/
  #privacy {
    width: 90%;
    color: #0F1419;
    margin: 0 auto;
  }

  #privacy h1 {
    font-size: 4.5vw;
    letter-spacing: 0.4vw;
    font-weight: bold;
    margin: 5% 0;
  }

  #privacy h2 {
    font-size: 4vw;
    letter-spacing: 0.4vw;
    font-weight: bold;
    border-bottom: 2px solid #38A1DB;
    margin: 6% 0;
  }

  #privacy p {
    font-size: 3.5vw;
    letter-spacing: 0.3vw;
    line-height: 4vw;
  }

  #privacy div {
    width: 95%;
    margin: 0 0 0 auto;
  }
  #privacy li {
    font-size: 3.5vw;
    letter-spacing: 0.3vw;
    line-height: 4vw;
  }

  .end {
    text-align: right;
    margin-bottom: 5%;
  }
}   